<div class="header">
    <p>Ok let me take it from here, OK</p>
    <hr>
    <p> ng-model="name" puts a property in memory called "name", and then just after name in the curly brackets is an
        indication to BIND to this name property &lt; type="text" ng-model="name"/> {name} </p>

    <input type="text" ng-model="name"/> {{name | uppercase}}
    <br>
    <hr> <!-- ------------------------------------------------------------------------------------------------------------- -->
    <p> ng-init is a crude way to set up some stuff, some variables etc. You would normally put this in a
        controller </p>


    <div ng-init="names=['kendall','ELizabeth','Ilga']">
        <ul ng-repeat="personName in names">
            <li>{{personName}}</li>
        </ul>
    </div>
    <hr> <!-- ------------------------------------------------------------------------------------------------------------- -->
    <p> Note below is an expession but you cannot put conditional logic in there, nor should one ever do that in a
        view! </p>

    <p>I'm so! excited to be adding an angular expression here: {{3+99}} </p>
    <hr> <!-- ------------------------------------------------------------------------------------------------------------- -->
    <p>There are {{getBooks()}} books in the collection</p>

    <div ui-sortable ng-model="books">
        <p>lets filter the books by this:<input ng-model="filterText" value="huh"></p>

        <!-- NOTE in the line below! filterText is not in single quotes but author is. I think thats because filterText is
        almost a global property of this scope, whereas author is a property of a specific instance of the array being looped through.
         So kinda of using a dot sybtax -->
        <p ng-repeat="book in books | filter:filterText | orderBy:'author'">
            <input type="text" ng-model="book.author">{{filterText}}
            <input ng-click="removeToDo($index)" type="button" value="X">
        </p>
    </div>

    <form ng-submit="addToDo()">
        <input type="text" ng-model="bookToAdd">
        <input type="submit" value="Add">
    </form>

    <FORM action="http://somesite.com/prog/adduser" method="post">
        <P>
            <LABEL for="firstname">First name: </LABEL>
            <INPUT type="text" id="firstname"><BR>
            <LABEL for="lastname">Last name: </LABEL>
            <INPUT type="text" id="lastname"><BR>
            <LABEL for="email">email: </LABEL>
            <INPUT type="text" id="email"><BR>
            <INPUT type="radio" name="sex" value="Male"> Male<BR>
            <INPUT type="radio" name="sex" value="Female"> Female<BR>
            <INPUT type="submit" value="Send"> <INPUT type="reset">
        </P>
    </FORM>

</div>
