<div class="header">
    <p>Ok let me take it from here</p>

    <p>1</p>

    <p>2</p>

    <p>3</p>

    <p>4</p>

    <p>I'm so! excited to be adding an angular expression here: {{3+99}} </p>

    <p>There are {{getBooks()}} books in the collection</p>

    <div ui-sortable ng-model="books">
        <p ng-repeat="book in books track by $index">
            <input type="text" ng-model="book">
            <input ng-click="removeToDo($index)" type="button" value="X">
        </p>
    </div>

    <form ng-submit="addToDo()">
        <input type="text" ng-model="bookToAdd">
        <input type="submit" value="Add">
    </form>

    <FORM action="http://somesite.com/prog/adduser" method="post">
        <P>
            <LABEL for="firstname">First name: </LABEL>
            <INPUT type="text" id="firstname"><BR>
            <LABEL for="lastname">Last name: </LABEL>
            <INPUT type="text" id="lastname"><BR>
            <LABEL for="email">email: </LABEL>
            <INPUT type="text" id="email"><BR>
            <INPUT type="radio" name="sex" value="Male"> Male<BR>
            <INPUT type="radio" name="sex" value="Female"> Female<BR>
            <INPUT type="submit" value="Send"> <INPUT type="reset">
        </P>
    </FORM>

</div>
