<!-- The View gets passed or bound to a scope object. It never calls the actual controller function. It now binds to properties on the scope
And notice that the controller can set up a scope object. But when the view does something like ng-model='someName", it is actually just adding
a property to that scope object. So shit gets added to scope by controller and view. as

-->
<div class="header">
    <p>Ok let me take it from here, OK</p>
    <hr>
    <p> ng-model="name" puts a property in memory called "name", and then just after name in the curly brackets is an
        indication to BIND to this name property &lt; type="text" ng-model="name"/> {name} </p>

    <input type="text" ng-model="name"/> {{name | uppercase}}
    <br>
    <hr> <!-- ------------------------------------------------------------------------------------------------------------- -->
    <p> ng-init is a crude way to set up some stuff, some variables etc. You would normally put this in a
        controller </p>


    <div ng-init="names=['kendall','ELizabeth','Ilga']">
        <ul ui-sortable >
            <li ng-repeat="personName in names">{{personName}}</li>
        </ul>
    </div>
    <hr> <!-- ------------------------------------------------------------------------------------------------------------- -->
    <p> Note below is an expession but you cannot put conditional logic in there, nor should one ever do that in a
        view! </p>

    <p>I'm so! excited to be adding an angular expression here: {{3+99}} </p>
    <hr> <!-- ------------------------------------------------------------------------------------------------------------- -->
    <p>There are {{getBooks()}} books in the collection</p>

    <div ng-model="books">
        <!-- Note below the filter.name. You cant write that in normal javascript but putting it here means angular will create a property
        on the scope called filter and then put a sub property on filter called name. It handles proper creation of both.
        Doing it this way makes it clearer. It creates the property on the fly only when you actually type in a value into the text box.
         Or rather when filter.name ultimately gets a value -->
        <p>lets filter the books by this:<input ng-model="filter.name" value="huh">{{filterText}}</p>

        <!-- NOTE in the line below! filterText is not in single quotes but author is. I think thats because filterText is
        almost a global property of this scope, whereas author is a property of a specific instance of the array being looped through.
         So kinda of using a dot syntax -->
        <ul ui-sortable>
            <li ng-repeat="book in books | filter:filter.name | orderBy:'author'">{{book.author | uppercase}} - {{book.title}} - {{book.date | date:'longDate'}}</li>
        </ul>
    </div>

    <form ng-submit="addToDo()">
        <input type="text" ng-model="newBook.title">
        <input type="submit" value="Add">
    </form>
    <!-- Note there's no .html in the name coz thats not how it was defined in config-->
    <a href="#/training">Go to training</a>

    <hr/>


    <FORM action="http://somesite.com/prog/adduser" method="post">
        <P>
            <LABEL for="firstname">First name: </LABEL>
            <INPUT type="text" id="firstname"><BR>
            <LABEL for="lastname">Last name: </LABEL>
            <INPUT type="text" id="lastname"><BR>
            <LABEL for="email">email: </LABEL>
            <INPUT type="text" id="email"><BR>
            <INPUT type="radio" name="sex" value="Male"> Male<BR>
            <INPUT type="radio" name="sex" value="Female"> Female<BR>
            <INPUT type="submit" value="Send"> <INPUT type="reset">
        </P>
    </FORM>

</div>
